<template>
  <div
    ref="frame"
    class="book frame"
    :class="showPreview ? 'gallery-open' : 'gallery-close'"
  >
    <div ref="root" class="root">
      <div class="wrapper">
        <div class="canvas" :style="{ '--progress': scrollProgress }">
          <div
            ref="layout"
            class="layout"
          >
            <div class="layout_item cover">
              <img
                class="cover_img"
                :src="data?.featured_image?.media_details?.sizes?.full?.source_url"
                :width="data?.featured_image?.media_details?.width"
                :height="data?.featured_image?.media_details?.height"
              >
            </div>
            <article class="layout_item content">
              <div class="body">
                <h1>{{ data?.title.rendered }}</h1>
                <h2>{{ data?.acf?.author?.name || 'Aldous Huxley' }}</h2>
                <div class="post_body" v-html="data.content.rendered" />
                <a
                  class="btn"
                  :href="data?.acf?.purchase_link || 'https://google.com/'"
                >Buy</a>
              </div>
            </article>
            <div
              ref="gallery"
              class="layout_item gallery"
              :style="{
                '--offset': `${galleryOffset}px`,
                '--width': galleryWidth,
              }"
            >
              <div class="gallery_container">
                <div v-for="(image, i) in data?.acf?.images" :key="i" class="gallery_image">
                  <img
                    src="https://placehold.co/1920x1080"
                    :width="1920"
                    :height="1080"
                    alt=""
                  >
                </div>
                <div class="open_button">
                  <transition name="switch" mode="out-in">
                    <keep-alive>
                      <a
                        v-if="!showPreview"
                        key="s"
                        href="#"
                        class="button button_bar"
                        @click.prevent="showPreview = true"
                      >Click Me</a>
                      <a
                        v-else
                        key="h"
                        href="#"
                        class="button button_bar"
                        @click.prevent="showPreview = false"
                      >Back</a>
                    </keep-alive>
                  </transition>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
  import { ref, onMounted } from 'vue'
  import { useResizeObserver , useEventListener, useElementSize } from '@vueuse/core'

  const props = defineProps({
    data: Object,
  })

  // State management ftw
  const showPreview = ref(false);

  // Bind elements to refs
  const frame = ref(null);
  const root = ref(null);
  const layout = ref(null);
  const gallery = ref(null);

  // Root DOM State
  // const frameScrollTop = ref(0);
  // const frameScrollHeight = ref(1000);
  // const scrollHeight = ref(1000);
  const scrollProgress = ref(0);
  const updateScrollProgress = () => {
    const el = frame.value
    if (!el) return;

    // frameScrollTop.value = el.scrollTop;
    // frameScrollHeight.value = el.scrollHeight;
    // scrollHeight.value = el.offsetHeight;
    scrollProgress.value = el.scrollTop / (el.scrollHeight - el.offsetHeight);
  }
  useEventListener(frame, 'scroll', updateScrollProgress, { capture: false, passive: true })

  // Calculate Gallery Offsets
  const { width: galleryWidth } = useElementSize(gallery, { width: 1000, height: 1000 })
  const galleryOffset = ref(1000);
  const updateOffsets = () => {
    galleryOffset.value = ~~gallery.value?.offsetLeft || galleryOffset.value;
    updateScrollProgress();
  }
  useResizeObserver(layout, () => { updateOffsets(); });
  onMounted(updateOffsets)

</script>
