<template>
  <aside ref="debugger">
    <!-- <div>Scroll:<br><code>{{ bounding.x }}, {{ bounding.y }}</code></div>
    <div>Scroll:<br><code>{{ bounding.top }}, {{ bounding.left }}</code></div> -->
    <div>Scroll:<br><code>{{ data.wheel?.[0] }}, {{ data.wheel?.[1] }}</code></div>
    <div>Scroll:<br><code>{{ data.scroll?.x }}, {{ data.scroll?.y }}</code></div>
    <div>Mouse:<br><code>{{ data?.x }}, {{ data?.y }}</code></div>
    <div>Element:<br><code>{{ data?.elementWidth }}, {{ data?.elementHeight }}</code></div>
    <div>From Center:<br><code>{{ data?.midX }}, {{ data.midY }}</code></div>
    <br>
    <input type="text" v-model="seed">
  </aside>
</template>

<script setup>
  import { useState } from '../state'

  const [ state ] = useState()
  defineProps({
    data: Object,
  })
</script>

<style scoped>
aside {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  background: #333;
  color: #fff;
  transform: translate(0, 0);
}
</style>