<template>
  <div
    class="root"
    ref="root"
    :style="{
      '--rw': `${rootWidth}px`,
      '--rh': `${rootHeight}px`,
      '--ww': `${wrapperWidth}px`,
      '--wh': `${wrapperHeight}px`,
    }"
    :class="[
      openRaf ? 'browse-open' : 'browse-close',
      activeBookId && open ? 'book-open' : 'book-close'
    ]"
  >
    <div class="wrapper" ref="wrapper">
      <transition name="switch" mode="out-in">
        <div v-if="!open" key="preview" class="main layout preview">
          <div class="content preview_content">
            <slot />
            <!-- <a href="#" @click.prevent="toggleBrowse">Browse Books</a> -->
          </div>
        </div>
      </transition>
      <transition name="fade" mode="out-in">
        <div v-if="open" key="ui" class="main ui">
          <slot v-if="!activeBookId" name="menu" />
          <slot v-else name="close" />

          <slot name="sidebar" />
        </div>
      </transition>

      <div
        class="browse canvas"
        :style="{
          '--px': midX,
          '--py': midY,
          '--progress': innerProgress,
          '--progress-outer': outerProgress,
        }"
      >
        <div class="bg">
          <div class="zone" :style="`--bg-1:${colors.get('orange')}`" />
          <div
            class="zone"
            v-for="(shape, i) in shapes"
            :key="i"
            :style="{
              '--i': i,
              '--bg-1': shape[0],
              '--bg-2': shape[1],
              '--fg-1': shape[2],
              '--fg-2': shape[3],
              '--fg-3': shape[4],
              '--fg-dir': shape[5],
            }"
          >
            <div class="shape">
              <div class="core" v-if="!(shape[2] === shape[3] && shape[2] == shape[4])">
                <div class="quarter upRight"></div>
                <div class="quarter downRight"></div>
                <div class="quarter downLeft"></div>
                <div class="quarter upLeft"></div>
              </div>
            </div>
          </div>
          <div class="zone" :style="`--bg-1:${colors.get('orange')}`" />
        </div>
        <div
          v-for="(thumb, t) in thumbs"
          :key="thumb.id"
          class="thumb_wrapper"
          :style="{
            '--x': thumbPositions[t][0],
            '--y': thumbPositions[t][1],
            '--x-sum': thumbPositions[t][2],
            '--y-sum': thumbPositions[t][3],
            '--y-top': Math.round(thumbPositions[t][1]) ? 'auto' : 0,
            '--y-bottom': Math.round(thumbPositions[t][1]) ? 0 : 'auto',
            '--y-offset': thumbPositions[t][1] - 0.5,
          }"
        >
          <a
            href="#"
            class="thumb"
            @click.prevent="openBook(thumb.book)"
          >
            <div class="thumb_link">
              <img
                :src="thumb.image?.media_details?.sizes?.full?.source_url"
              >
            </div>
            <div class="thumb_content">
              <h3>{{ thumb.title.rendered }}</h3>
            </div>
          </a>
        </div>
      </div>

      <transition name="book-view">
        <keep-alive>
          <Book
            v-if="activeBookId && open"
            :key="activeBookId"
            :id="activeBookId"
            :data="activeBook"
          />
        </keep-alive>
      </transition>
    </div>
  </div>
</template>

<script setup>
  // This starter template is using Vue 3 experimental <script setup> SFCs
  // Check out https://github.com/vuejs/rfcs/blob/master/active-rfcs/0040-script-setup.md

  import { computed, ref, reactive, provide, watch, nextTick } from 'vue'
  import { useMouse,useMouseInElement, useWindowScroll, useElementBounding, useWindowSize } from '@vueuse/core'
  // import { useMotionProperties, useSpring } from '@vueuse/motion'
  // import { useGesture } from '@vueuse/gesture'
  import prng, { clamp } from './prng'

  import Book from './components/Book.vue'

  // import Debug from './components/Debug.vue'

  const props = defineProps({
    seed: String,
    apiBase: {
      type: String,
      default: '',
    },
    data: {
      // Enable Custom Element to take either attribute strings via HTML or property assignment via JS
      type: [String, Object],
      default: () => ({ thumbs: [] })
    },
    browse: {
      type: Boolean,
      default: false,
      required: false,
    },
  })


  // Get the element.
  const root = ref(null)
  const wrapper = ref(null)
  const scrollXY = ref([0,0]);

  // useGesture({
  //   onWheel: ({ xy, ...state }) => {
  //       scrollXY.value = xy;
  //     },
  // },
  // {
  //   domTarget: root,
  // })

  // Get JSON Payload Data
  const data = computed(() => {
    let rawData;
    if (typeof props.data === 'string') {
      try {
        rawData = JSON.parse(props.data);
      } catch {
        return { thumbs: [] }
      }
    } else {
      rawData = props.data;
    }

    return {
      thumbs: [],
      ...rawData
    }
  })
  const thumbs = computed(() => data.value?.thumbs || [])


  // Mouse and Element positioning
  const mouse = useMouse();
  const scroll = useWindowScroll()
  const {
    y: rootPositionY,
    width: rootWidth,
    height: rootHeight,
    // top: rootPositionY,
  } = useElementBounding(root);

  const {
    y: wrapperY,
    top: wrapperTop,
    width: wrapperWidth,
    height: wrapperHeight
  } = useElementBounding(wrapper);


  const { height: windowHeight } = useWindowSize()
  // const wrapperY = computed(() => wrapperTop.value + scroll.y)

  // there's a dozen ways to do this better but whatevs
  const midX = computed(() => mouse.x.value - Math.round(rootWidth.value * 0.5))
  const midY = computed(() => mouse.y.value - (rootPositionY.value + Math.round(windowHeight.value * 0.5)))

  const frameTop = computed(() => Math.round(rootPositionY.value))
  const frameBottom = computed(() => Math.round(frameTop.value + rootHeight.value))

  const topFromTop = computed(() => scroll.y.value - frameTop.value)
  const bottomFromTop = computed(() => scroll.y.value - frameBottom.value)

  const bottomFromBottom = computed(() => bottomFromTop.value + windowHeight.value)
  const topFromBottom = computed(() => topFromTop.value + windowHeight.value)

  // Progress while element is visible in viewport
  const outerProgress = computed(() => (topFromBottom.value * 1) / (windowHeight.value + rootHeight.value))

  // Progress while element takes full viewport
  const innerProgress = computed(() => (topFromTop.value * -1) / (windowHeight.value - rootHeight.value))


  // Random Number Stuff
  const seed = ref('lor!1!-🐭0');
  const rand = computed(() => prng(seed.value))
  const colors = ref(new Map([
    ['yellow', '#ffe947'],
    ['gold', '#f6962e'],
    ['orange', '#ee4014'],
    ['red', '#EE4014'],
    ['pink', '#F95ACB'],
  ]))
  const shapesLength = ref(5);
  const shapes = computed(() => {
    const
      l = colors.value.size - 1,
      k = [...colors.value.keys()];

    return Array.from(
      Array(shapesLength.value),
      (_,i, arr) => {
        const
          a = rand.value(),
          b = rand.value(),
          ax = Math.round(rand.value()),
          bx = Math.round(rand.value()),
          cx = Math.round(rand.value()),
          // Background Colors
          // 50% chance of gradient
          bg0 = Math.round(l * a),
          bg1 = colors.value.get(k[bg0]),
          bg2 = ax ? colors.value.get(k[bg0 >= l ? 0 : bg0 + 1]) : bg1,
          // Foreground Colors
          // 50% chance of gradient
          fg0a = Math.round(l * b),
          fg0b = fg0a + 1,
          fg1 = colors.value.get(k[Math.round(l * b)]),
          fg2 = bx ? colors.value.get(k[fg0a >= l ? 0 : fg0b]) : fg1,
          fg3 = bx ? colors.value.get(k[fg0b >= l ? 0 : fg0b + 1]) : fg2,
          dir = cx
        ;

        return [bg1, bg2, fg1, fg2, fg3, dir];
      }
    )
  })

  const thumbPositions = computed(() => {
    let sumA = 0, sumB = 0;
    return Array.from(
      Array(thumbs.value.length),
      (_, i, arr) => {
        const a = rand.value(), b = rand.value();
        sumA += a;
        sumB += b;
        return [ a, b, sumA, sumB ]
      }
    )
  })

  // Open Section
  const open = ref(!!props.browse);

  // Delay value until next tick
  const openRaf = ref(!!props.browse);
  watch(open, async isOpen => requestAnimationFrame(() => { openRaf.value = isOpen }))

  // Open
  const toggleBrowse = () => open.value ? onClose() : onBrowse()
  const onBrowse = () => { open.value = true }
  const onClose = () => { open.value = false; activeBookId.value = 0 }

  const closeBook = () => { currentBookId.value = 0; activeBookId.value = 0 }
  watch(() => props.browse, browse => {
    open.value = !!browse
    if (!browse) {
      activeBookId.value = 0
    }
  })

  const bookData = reactive({ 0: { code: 'loading' } });

  const currentBookId = ref(0);
  const currentBookUrl = ref(null);
  const bookUrl = id => `${props.apiBase}/wp-json/wp/v2/books/${~~id}`
  const openBook = id => { currentBookId.value = id }

  const activeBookId = ref(0);
  const activeBook = computed(() => bookData[activeBookId.value])
  watch(currentBookId, async bookId => {
    if (data.value?.books?.[bookId]) {
      bookData[bookId] = data.value.books[bookId]
    } else if (bookId > 0 && !bookData?.[bookId]?.id) {
      activeBookId.value = 0
      currentBookUrl.value = bookUrl(bookId)

      try {
        const bookRes = await fetch(currentBookUrl.value)
        const book = await bookRes.json()
        bookData[bookId] = book
      } catch (error) {
        bookData[bookId] = { code: 'unhandled' }
      }
    }

    activeBookId.value = bookId
  })

  //const currentBook = 
</script>

<style>
  /* Element Base Settings */
  * { box-sizing: border-box; }

  :host {
    min-height: 100%;
    color: #fff;
    background: #EE4014;
  }

  :host, .root, .wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    --x: 0;
    --y: 0;
  }

  /* Sticky scroll distance */
  .root {
    --rw: 1280px;
    --rh: 960px;
    --ww: 1280px;
    --wh: 960px;

    transition: 0.12s height;
    height: 150vh;
  }

  .root.browse-open {
    height: 200vw;
  }

  /* Sticky wrapper */
  .wrapper {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
  }

  @media (max-width: 959px) {
    .root,
    .root.browse-open {
      height: auto;
    }

    .wrapper {
      position: relative;
      max-height: none;
    }
  }


  /* Content Box Layout (Preview box and Book detail view) */
  .layout {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
    height: 100%;

    transform: translate(0,0);
    opacity: 1;
    z-index: 1;

    /* Padding and breakpoints taken from WNWN .container class */
    padding: 30px 20px;
  }

  @media screen and (min-width: 640px) {
    .layout {
      padding: 60px 40px;
    }
  }

  @media screen and (min-width: 960px) {
    .layout {
        padding: 123px 13.0555vw 83px;
    }
  }

  .canvas .layout {
    padding: 0;
  }

  /* Reset body content */
  .content {
    text-align: left;
    width: 100%;
    min-width: 320px;
    max-width: 360px;
    margin-right: auto;
    z-index: 10;
  }

  @media screen and (max-width: 960px) {
    .preview.layout {
      position: absolute;
      top: 0;
      padding-bottom: 180px;
    }
  }

  /* .preview:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 320px;
    max-width: 360px;
    height: 100%;
    background-image: linear-gradient(141deg, #EE4014 0%, #FFE947 81%);
  } */

  .ui {
    position: absolute;
    width: 100%;
    height: 100;
    top: 0;
    left: 0;
  }

  /* Left sidebar in browse view */
  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }

  /* The div where everything happens */
  .canvas {
    --px: 0;
    --py: 0;
    --progress: 0;
    --progress-outer: 0;

    position: relative;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(125%);
    height: 100%;

    transition: 1.25s transform;
    transform: translate(0, 0);

    /* Copy padding from WNWN .container */
    padding: 30px 20px;
  }

  .browse-close .browse.canvas {
    transform: translate(0, 0);
  }

  @media screen and (min-width: 640px) {
    .canvas {
      padding: 30px 40px;
    }
  }

  @media screen and (min-width: 960px) {
    .canvas {
        position: absolute;
        padding: 10px 13.0555vw;
    }

    /* Move canvas to the left in preview mode */
    .browse-close .browse.canvas {
      transform: translate(33%, 0);
    }
  }

  /* The Thumbnail wrapper is the main thing that actually moves */
  .thumb_wrapper {
    --factor: -0.05;
    --factor-px: -0.05px;
    --distance: 100vw;

    --x-offset: 0vw;
    --y-offset: 0;
    /* --y-offset: calc(var(--factor-px) * var(--y-sum)); */

    --top: calc(var(--y-offset) * -33vh);

    --tx: calc(var(--factor-px) * var(--px) + var(--x-offset) - var(--distance) * var(--progress) * 0.25);
    --ty: calc(var(--factor-px) * 0.25 * var(--py));

    --width: calc(120px + 50% * var(--x));

    margin-top: var(--y-top);
    margin-bottom: var(--y-bottom);
    transition: 0.5s transform;
    transform: translateY(var(--top));
    will-change: transform;
  }

  .browse-close .thumb_wrapper {
    --factor: -0.01;
    --x-offset: calc(4vw * var(--x-sum, 0));
    --factor-px: -0.01px;
    --distance: 5vw;
    --top: calc(var(--y-offset) * -100vh);
  }

  @media screen and (min-width: 960px) {
    .thumb_wrapper + .thumb_wrapper {
      margin-left: 5px;
    }
  }

  .thumb {
    display: block;
    position: relative;
    transition: 0s ease-out transform, 0.5s z-index;
    transform: translate3d(var(--tx), var(--ty), 0);
    z-index: 0;
  }

  .thumb:focus {
    outline: none;
  }

  .browse-open .thumb:hover,
  .browse-open .thumb:focus,
  .browse-open .thumb:focus-within {
    z-index: 2;
    transition-duration: 0s, 0s;
  }

  .thumb_link {
    pointer-events: all;;
    transform: scale(1);
    transform-origin: top;
    transition: 0.3s transform;
  }

  .thumb_link img {
    width: 100%; height: auto;
  }

  @media screen and (min-width: 960px) {
    .browse-open .thumb:hover .thumb_link,
    .browse-open .thumb:focus .thumb_link,
    .browse-open .thumb:focus-within .thumb_link {
      transform: scale(calc(0.8 + 0.2 * var(--x)));
    }
  }

  @media screen and (max-width: 959px) {
    .canvas {
      flex-flow: row wrap;
      align-content: center;
      width: 100%;
      min-height: 100vw;
    }
    .thumb_wrapper {
      --factor: -0.01;
      --x-offset: calc(4vw * var(--x-sum, 0));
      --factor-px: -0.01px;
      --distance: 5vw;
      --top: calc(0);
      --tx: calc(var(--factor-px) * var(--px));
      --ty: calc(var(--factor-px) * 0.25 * var(--py) + var(--distance) * var(--progress) * 0.1);
      min-width: 25%;
      width: 160px;
      max-width: 33%;
      margin: 0;
      /* transform: none; */
      padding: 5px;
    }

    .browse-close .thumb_wrapper {
      --top: calc(var(--y-offset) * -20vw + var(--rh) * 0.6);
    }

    .thumb {
      /* transform: none; */
    }
    .thumb_link {
    }
  }

  .thumb_content {
    display: none;
  }

  /* .thumb:hover, .thumb:focus, .thumb:focus-within */

  @media screen and (min-width: 960px) {
    .thumb_content {
      position: absolute;
      top: 100%;
      width: 100%;
      margin-top: -1.5em;
      text-align: center;
      padding: 0.5rem;
      opacity: 0;
      transform: translateY(0.5rem);
      transition: 0.3s all;
    }

    .browse-open .thumb:hover .thumb_content,
    .browse-open .thumb:focus .thumb_content,
    .browse-open .thumb:focus-within .thumb_content {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }

  /* This should be in Book.vue but style tags weren't working with Custom Element exports for some reason */
  .frame {
    position: fixed;
    top: 0%;
    left: 0%;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(141deg, #EE4014 0%, #FFE947 81%);
    z-index: 10;
    text-align: left;
  }

  @media screen and (min-width: 960px) {
    .frame {
      position: absolute;
    }
    .frame.root {
      height: 150vw;
    }
  }


  .book-view-enter-active, .book-view-leave-active {
    transition: opacity 0.25s;
  }

  .book-view-enter-to, .book-view-leave-from {
    opacity: 1;
  }

  .book-view-enter-from, .book-view-leave-to {
    opacity: 0;
  }


  .bg {
    --factor: 0.05;

    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    overflow: hidden;
    transform: translateX(calc(-10% + -20% * var(--factor) * var(--progress)));
  }

  @media screen and (max-width: 959px) {
    .bg {
      --factor: 0.01;
      width: 500vw;
    }
  }

  .browse-close .bg {
    --factor: 0.01;
    --distance: 5vw;
    --top: calc(var(--y-offset) * -50vh);
  }

  /* View Transition */
  .switch-enter-active, .switch-leave-active,
  .switch-enter-active ~ .canvas .thumb_wrapper,
  .switch-leave-active ~ .canvas .thumb_wrapper,
  .switch-enter-active ~ .canvas,
  .switch-leave-active ~ .canvas {
    transition: all 0.75s;
  }

  .switch-enter-to, .switch-leave-from {
    opacity: 1;
    transform: translate(0, 0);
  }

  .switch-enter-from, .switch-leave-to {
    opacity: 0;
    transform: translate(-5%, 0);
  }

  .zone {
    --bg-1: #FFE946;
    --bg-2: #FFE946;
    --fg-1: #FFE946;
    --fg-2: #FFE946;
    --fg-3: #FFE946;
    --fg-dir: 1;

    position: relative;
    width: 50vh;
    height: 100%;
    overflow: hidden;
    background: var(--bg-1);
    background-image: linear-gradient(135deg, var(--bg-1) 0%, var(--bg-2) 100%);
  }

  .shape {
    position: absolute;
    top: 50%;
    left: calc(var(--fg-dir, 0) * -100%);
    width: 200%;
    animation: rotateBaby;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: calc(var(--i, 0) * 2s - 2s);
    animation-timing-function: cubic-bezier(0.76, 0.01, 0.36, 1);
    will-change: transform;
  }
  .shape .core {
    transform: translateY(50%) rotate(90deg);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
  .shape .core:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-top: 100%;
  }
  .shape .quarter {
    position: absolute;
    width: 50%;
    height: 50%;
  }

  .shape .quarter {
    background-color: var(--fg-3);
  }
  .shape .quarter.upRight, .shape .quarter.downLeft {
    background: var(--fg-1);
    background-image: linear-gradient(135deg, var(--fg-1) 0%, var(--fg-2) 100%);
  }
  .shape .quarter.upRight { top: 0; right: 0; }
  .shape .quarter.downLeft { bottom: 0; left: 0; }
  .shape .quarter.downRight { bottom: 0; right: 0; }
  .shape .quarter.upLeft { top: 0; left: 0; }

  @media screen and (min-width: 640px) {
    .shape.virtual {
      top: 0;
      bottom: auto;
    }
  }

  @keyframes rotateBaby {
    0%, 10% { transform: rotate(0deg); }
    90%, 100% { transform: rotate(360deg); }
  }

  .book.frame {
    overflow: hidden;
  }

  .book .canvas {
    width: 100%;
  }


  .book .layout {
    display: grid;
    grid:
      [full-start] 1fr [gallery-start] 1fr [cover-start content-start] 3fr [cover-end content-end] 1fr [gallery-end] 1fr [full-end]
      / [cover] minmax(300px, 1fr) [content] minmax(calc(66% - 100px), 1fr) [gallery-start];
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 1rem;
  }

  .book .layout_item {
    opacity: 1;
    transition: 0.75s opacity cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  .book .cover {
    grid-area: cover;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .book .cover img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .book .content {
    grid-area: content;
    align-self: start;
    flex: 1;
  }

  .book .gallery {
    --offset: 1000px;
    position: relative;
    height: 100%;
    grid-area: gallery;
    max-width: 100%;
  }

  .book .gallery_container {
    display: grid;
    position: relative;
    grid-template-rows: 100%;
    grid-gap: 1rem;
    grid-auto-flow: column;
    height: 100%;
    transform: translate(0, 0);
    transition: 0.75s transform cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  .book.frame.gallery-open {
    overflow-y: auto;
  }

  .book.gallery-open .gallery_container {
    transform: translateX(calc(-1 * var(--offset, 0)));
    z-index: 10;
  }

  .book.gallery-open .gallery_image {
    transform: translateX(calc(((-1px * var(--width, 0)) + var(--offset)) * var(--progress, 0)));
  }

  .book.gallery-open .layout_item:not(.gallery) {
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }

  .book .gallery_image {
    width: fit-content;
    height: 100%;
    transform: translateX(0);
    transition: 0.1s;
  }

  .book .gallery img {
    width: auto;
    height: 100%;
    max-height: 100%;
  }

  .book .body > *:first-child {
    margin-top: 0;
  }

  .open_button {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    margin-top: 1rem;
    text-align: left;
  }

  .open_button .switch-enter-active,
  .open_button .switch-leave-active {
    transition-duration: 0.375s;
  }

  @media (max-width: 959px) {
    .book.frame {
      overflow-y: auto;
    }

    .book .layout {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
    }

    .book .cover {
      width: 75%;
      max-width: 300px;
    }

    .book .gallery img {
      width: 100%;
      height: auto;
    }

    .book .gallery_container {
      grid-gap: 1rem;
      /* grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); */
      grid-template-rows: repeat(auto-fit, minmax(100px, auto));
      grid-auto-flow: column;
    }

    .book .open_button {
      display: none;
    }
  }

  /* @keyframes rotateBabyHome {
    0%, 10% {
      transform: translateY(-50%) rotate(0deg); }
    90%, 100% {
      transform: translateY(-50%) rotate(360deg); }
  } */

  /* height: 1px; */
</style>